{erl_opts, [
    {d, async_net},     % 异步网络逻辑
    {d, app_ebin, "_build/default/lib/vtnemo/ebin/"}, %
    {i, "include"},
    deterministic,
    report,
    warn_export_all,
    warn_obsolete_guard,
    warn_shadow_vars,
    warn_unused_function,
    warn_deprecated_function
]}.

{deps, [
    {mysql_poolboy, ".*", {git, "https://github.com/mysql-otp/mysql-otp-poolboy",
        {tag, "0.1.8"}}},
    {lager, "", {git, "https://github.com/erlang-lager/lager/",
        {tag, "3.6.2"}}}
]}.

{shell, [
    {config, "config/vtnemo.config"},
    {apps, [vtnemo]}
]}.
