[
    {sasl, [
        {sasl_error_logger, false}
    ]},
    {lager, [
        {log_level, debug},
        {handlers, [
            {lager_file_backend, [{file, "log/s2_error.log"}, {level, error}, {size, 10485760}, {date, "$D0"}, {count, 10}]},
            {lager_file_backend, [{file, "log/s2_info.log"}, {level, info}, {size, 10485760}, {date, "$D0"}, {count, 10}]},
            {lager_file_backend, [{file, "log/s2_debug.log"}, {level, debug}, {size, 10485760}, {date, "$D0"}, {count, 7}]}
        ]}
    ]},
    {mysql_poolboy, [
        {mysql, {
            [
                {size, 10},
                {max_overflow, 20}
            ],
            [
                {host, "127.0.0.1"},
                {port, 3306},
                {user, "vtnemo"},
                {password, "vtnemo123456"},
                {database, "vtnemo_dev_wl"}
            ]
        }}
    ]},
    {vtnemo, [
        {ticket, "geh#3.*(=dda9&62Tdkfa[}dpw/%"},
        {platform, 1000},   % 平台id为 1 ~ 16380
        {debug, false},
        {miji, 1}
    ]}
].
